################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FramerateAnalizer/config
/.vs/FramerateAnalizer/CopilotIndices/17.14.1561.44479
/.vs/FramerateAnalizer/DesignTimeBuild
/.vs/FramerateAnalizer/FileContentIndex
/.vs/FramerateAnalizer/v17
/.vs/ProjectEvaluation
/FramerateAnalizer/bin/Debug/net10.0-windows7.0
/FramerateAnalizer/obj
/FrameRateAnalizer.Site/bin/Debug/net10.0-windows7.0
/FrameRateAnalizer.Site/obj
/.vs
/FramerateAnalizer/bin/Release/net10.0-windows7.0
/FrameRateAnalizer.Site/bin/Release
/FramerateAnalyzer.Domain/FramerateAnalyzer/bin
/FramerateAnalyzer.Domain/FramerateAnalyzer/obj
/FrameRateAnalizer.Dektop/bin
/FrameRateAnalizer.Dektop/obj
/FrameRateAnalyzer/bin
/FrameRateAnalyzer/obj
/BlazorApp1/bin/Debug/net9.0
/FramerateAnalize.Website/bin/Debug
/FramerateAnalize.Website/obj/Debug
/FramerateAnalize.Website/obj/Debug/net10/FramerateAnalizer.Website.assets.cache
/FramerateAnalize.Website/obj
/FramerateAnalizer.Domain/bin/Debug/net9.0
/FramerateAnalizer.Domain/obj
/FrameRateAnalizer.Website/bin/Debug
/FrameRateAnalizer.Website/obj
*.user
