@inherits LayoutComponentBase

<MudThemeProvider Theme="customTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    MudTheme? customTheme;

    protected override void OnInitialized()
    {
        customTheme = CreateTheme();
    }

    MudTheme CreateTheme()
    {
        return new MudTheme()
        {
            Typography = new Typography()
            {
                Default = new DefaultTypography()
                {
                    FontFamily = new[] { "Open Sans", "Roboto", "sans-serif" },
                }
            },
            PaletteLight = new PaletteLight()
            {
                AppbarBackground = Colors.Blue.Darken4,
                Primary = Colors.Blue.Darken3,
                PrimaryDarken = Colors.Blue.Darken4,
                PrimaryLighten = Colors.Blue.Lighten2,
                Secondary = Colors.Blue.Accent1,
                SecondaryDarken = Colors.Blue.Darken4,
                SecondaryLighten = Colors.Blue.Lighten1
            },
            LayoutProperties = new LayoutProperties(),
        };
    }
}
